<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{user/index.html}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link th:href="@{/css/pagination.css}" rel="stylesheet">
</head>


<body>
    <div layout:fragment="content">
        <div class="container">
            <div class="mt-5" th:each="item : ${invoice}">
                <div
                    class="d-style btn btn-brc-tp border-2 bgc-white btn-outline-blue btn-h-outline-blue btn-a-outline-blue w-100 my-2 py-3 shadow-sm">
                    <div class="row align-items-center">
                        <div class="col-12 col-md-4">
                            <h4 class="pt-3 text-170 text-600 text-primary-d1 letter-spacing">
                                #[[${item.maHoaDon}]]
                            </h4>
                        </div>
                        <ul class="list-unstyled mb-0 col-12 col-md-4 text-dark-l1 text-90 text-left my-4 my-md-0">
                            <li>
                                <i class="fa fa-clock text-success-m2 text-110 mr-2 mt-1"></i>
                                <span>
                                    <span class="text-110">[[${item.ngayTao}]]</span>
                                </span>
                            </li>
                            <li class="mt-25">
                                <i class="fa fa-bars text-success-m2 text-110 mr-2 mt-1"></i>
                                <span class="text-110">
                                    Số lượng: [[${#lists.size(item.chiTietHoaDons)}]]
                                </span>
                            </li>
                            <li class="mt-25">
                                <i class="fa fa-money-bill text-danger-m3 text-110 mr-25 mt-1"></i>
                                <span class="text-110">
                                    Thành tiền: [[${#aggregates.sum(item.chiTietHoaDons.![soLuong * giaBan])}]]
                                </span>
                            </li>
                        </ul>
                        <div class="col-12 col-md-4 text-center">
                            <a th:href="@{/user/invoice/__${item.maHoaDon}__}" class="f-n-hover btn btn-info btn-raised px-4 py-25 w-75 text-600">Chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="pagination-container">
                <div class="pagination">
                    <a class="pagination-newer" th:if="${currIndex}>0"
                        th:href="@{/user/invoice?p=__${currIndex-1}__}">Previous</a>
                    <span class="pagination-inner">
                        <tr th:each="i: ${#numbers.sequence(0, numberOfPages - 1)}">
                            <a th:href="@{/user/invoice?p=__${i}__}" th:text="${i+1}"
                                th:classappend="${i==currIndex} ? 'pagination-active' : ''"> </a>
                        </tr>
                    </span> <a th:href="@{/user/invoice?p=__${currIndex+1}__}" class="pagination-older"
                        th:if="(${currIndex}>-1 and (${currIndex})<${numberOfPages-1})">Next</a>
                </div>
            </nav>
        </div>
    </div>
</body>

</html>