<!doctype html>
<html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Love-Cake ADMIN</title>
	<meta name="description" content="Ela Admin - HTML5 Admin Template">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="apple-touch-icon" href="https://i.imgur.com/QRAUqs9.png">
	<link rel="shortcut icon" href="https://i.imgur.com/QRAUqs9.png">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
	<link rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
	<link rel="stylesheet" th:href="@{/assets/css/cs-skin-elastic.css}">
	<link rel="stylesheet" th:href="@{/assets/css/style.css}">

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

	<!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>


</head>

<body ng-app="loaiSp-app" ng-controller="loaiSp-ctrl">

	<!-- Left Panel (menu)-->

	<div th:replace="~{admin/fragment :: aside}"></div>

	<!-- Left Panel (menu)-->

	<!-- Header (menu)-->
	<div id="right-panel" class="right-panel">
		<div th:replace="~{admin/fragment :: header}"></div>
	</div>
	<!-- Header (menu)-->

	<!-- Right Panel -->
	<div id="right-panel" class="right-panel">
		<div class="content">
			<div class="animated fadeIn">
				<div class="row">
					<div class="col-lg-6">
						<div class="card">
							<div class="card-header">
								<strong class="card-title">Danh mục loại bánh</strong>

							</div>
							<div class="table-stats order-table ov-h">
								<table class="table ">
									<thead>
										<tr>
											<th>ID</th>
											<th>Tên</th>
											<th>Mô tả</th>
											<th>Edit</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat=" item in pager.db">
											<td>{{item.maLoaiBanh}}</td>
											<td>{{item.tenLoaiBanh}}</td>
											<td>{{item.ghiChu}}</td>
											<td>
												<button ng-click="edit(item.maLoaiBanh)" class="fa fa-pencil"></button>
											</td>
										</tr>
								</table>

								<ul class="pagination">
									<li class="page-item">
										<a class="page-link" aria-label="Previous">
											<button ng-click="pager.first()">First</button>

										</a>
									</li>
									<li class="page-item">
										<a class="page-link">
											<button aria-hidden="true" ng-click="pager.pre()"
												class="fa fa-hand-o-left"></button>
										</a>
									</li>

									<li class="page-item"><a class="page-link">{{pager.page + 1}} of {{pager.count}}</a>
									</li>

									<li class="page-item">
										<a class="page-link">
											<button aria-hidden="true" ng-click="pager.next()"
												class="fa fa-hand-o-right"></button>
										</a>
									</li>
									<li class="page-item">
										<a class="page-link">
											<button ng-click="pager.last()">Last</button>
										</a>
									</li>

								</ul>
							</div> <!-- /.table-stats -->
						</div>
					</div>

					<div class="col-lg-6">
						<div class="card">
							<div class="card-header">
								<strong>Chỉnh sửa thông tin</strong>
								<p th:text="${message}" style="color: red;"></p>
							</div>

							<div class="card-body card-block">
								<form method="post" name="frmLoai">
									<div class="form-group"> <label for="nf-email" class=" form-control-label">Mã
											Loại</label>
										<input ng-model="form.maLoaiBanh" type="text" id="maLoaiBanh" name="maLoaiBanh"
											class="form-control" readonly>
									</div>

									<div class="form-group"> <label for="nf-email"
											class=" form-control-label">Tên</label>
										<input ng-model="form.tenLoaiBanh" type="text" id="tenLoaiBanh"
											placeholder="Tên.." name="tenLoaiBanh" class="form-control" required>
										<div ng-hide="frmLoai.tenLoaiBanh.$valid" style="color:brown">Vui lòng nhâp tên
											loại</div>
									</div>

									<div class="form-group"><label for="nf-password" class=" form-control-label">Mô
											tả</label>
										<input ng-model="form.ghiChu" type="text" id="ghiChu" name="ghiChu"
											placeholder="Mô tả.." class="form-control">
									</div>

									<button ng-show="post" type="submit" class="btn btn-primary btn-sm"
										ng-click="save()">
										<i class="fa fa-plus-square"></i> Thêm
									</button>
									<button ng-show="put" type="submit" class="btn btn-primary btn-sm"
										ng-click="update()">
										<i class="fa fa-dot-circle-o"></i> Cập nhật
									</button>
									<button ng-show="deleteShow" type="submit" class="btn btn-danger btn-sm"
										ng-click="delete(form.maLoaiBanh)">
										<i class="fa fa-minus-square"></i> Xóa
									</button>
									<button class="btn btn-primary btn-sm" type="submit" ng-click="reset()">
										<i class="fa fa-refresh"></i> Làm mới
									</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div th:replace="~{admin/fragment :: footer}"></div>
		<script th:src="@{/js/loaiSp.js}"></script>
	</div>



	<!-- Scripts -->
	<script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
	<script th:src="@{/assets/js/main.js}"></script>


</body>

</html>