<!doctype html>
<html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="apple-touch-icon" href="https://i.imgur.com/QRAUqs9.png">
    <link rel="shortcut icon" href="https://i.imgur.com/QRAUqs9.png">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
    <link rel="stylesheet" th:href="@{/assets/css/cs-skin-elastic.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

</head>

<body ng-app="nguoidung-app" ng-controller="nguoidung-ctrl">

    <!-- Left Panel (menu)-->

    <div th:replace="~{admin/fragment :: aside}"></div>

    <!-- Left Panel (menu)-->

    <!-- Header (menu)-->
    <div id="right-panel" class="right-panel">
        <div th:replace="~{admin/fragment :: header}"></div>
    </div>
    <div id="right-panel" class="right-panel">
        <!--   <div class="breadcrumbs">
            <div class="breadcrumbs-inner">
                <div class="row m-0">
                    <div class="col-sm-4">
                        <div class="page-header float-left">
                            <div class="page-title">
                                <h1>Dashboard</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="page-header float-right">
                            <div class="page-title">
                                <ol class="breadcrumb text-right">
                                    <li><a href="#">Dashboard</a></li>
                                    <li><a href="#">Table</a></li>
                                    <li class="active">Data table</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="content">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">Người dùng</strong>
                            </div>
                            <div class="card-body">
                                <table id="bootstrap-data-table" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Mã ND</th>
                                            <th>Tên</th>
                                            <th>Địa chỉ</th>
                                            <th>SDT</th>
                                            <th>Email</th>
                                            <th>Mã hóa</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat=" nd in pager.items">
                                            <td>{{nd.maND}}</td>
                                            <td>{{nd.hoTen}}</td>
                                            <td>{{nd.diaChi}}</td>
                                            <td>{{nd.sdt}}</td>
                                            <td>{{nd.email}}</td>
                                            <td>
                                                <button class="ti-lock"></button>
                                                <button class="ti-unlock"></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                    
                                </table>
                                <ul class="pagination">
                                    <ul class="pagination">
                                        <li class="page-item">
                                            <a class="page-link" aria-label="Previous">
                                              <button ng-click="pager.first()">First</button>
                                             
                                            </a>
                                          </li>
                                        <li class="page-item">
                                          <a class="page-link" >
                                            <button aria-hidden="true" ng-click="pager.pre()">&laquo;</button>
                                          </a>
                                        </li>

                                        <li class="page-item"><a class="page-link">{{pager.page + 1}} of {{pager.count}}</a></li>
                                        
                                        <li class="page-item">
                                          <a class="page-link">
                                            <button aria-hidden="true" ng-click="pager.next()">&raquo;</button>                                         
                                          </a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link">
                                              <button ng-click="pager.last()">Last</button>
                                            </a>
                                          </li>
                                      </ul>
                                      </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <!-- Right Panel -->
	<script th:src="@{/js/nguoidung.js}"></script>
    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
    <script src="assets/js/main.js"></script>

    <script src="assets/js/lib/data-table/datatables.min.js"></script>
    <script src="assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>
    <script src="assets/js/lib/data-table/dataTables.buttons.min.js"></script>
    <script src="assets/js/lib/data-table/buttons.bootstrap.min.js"></script>
    <script src="assets/js/lib/data-table/jszip.min.js"></script>
    <script src="assets/js/lib/data-table/vfs_fonts.js"></script>
    <script src="assets/js/lib/data-table/buttons.html5.min.js"></script>
    <script src="assets/js/lib/data-table/buttons.print.min.js"></script>
    <script src="assets/js/lib/data-table/buttons.colVis.min.js"></script>
    <script src="assets/js/init/datatables-init.js"></script>

</body>

</html>