<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layouts/main-layout}">

<head>
<meta charset="utf-8">
<title>EShopper - Bootstrap Shop Template</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="Free HTML Templates" name="keywords">
<meta content="Free HTML Templates" name="description">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link
	href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
	rel="stylesheet">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
	rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
</head>

<body>
			<div class="col py-3">
				<!-- Aside End -->
				<!-- Content here -->
				<div class="row px-xl-5" layout:fragment ="content">
					<div class="col">
						<div
							class="nav nav-tabs justify-content-center border-secondary mb-4">
							<a class="nav-item nav-link " data-toggle="tab"
								href="#tab-pane-1">Danh sách hàng trong kho</a> <a
								class="nav-item nav-link active" data-toggle="tab"
								href="#tab-pane-2">Thông tin hàng trong kho</a>
						</div>
								<h4 class="mb-3">Danh sách hàng trong kho</h4>
								<table id="example" class="display" style="width: 100%">
									<thead>
										<tr>
											<td colspan="7">
												<div class="input-group">
													<form th:action="@{/admin/NhapKho/search}" method="post" class="input-group">
														<input class="form-control" th:name="ghiChu">
														<button class="btn btn-primary">Search</button>
													</form>
												</div>
											</td>
											<td></td>
										</tr>
										<tr style="background-color: #D19C97; color: white;">
											<th scope="col">Mã nhập kho</th>
											<th scope="col">Mã nhà cung cấp</th>
											<th scope="col">Mã sản phẩm</th>
											<th scope="col">Số lượng nhập</th>
											<th scope="col">Giá nhập trên mỗi cái</th>
											<th scope="col">Ngày nhập</th>
											<th scope="col">Ghi chú</th>
											<th scope="col"></th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="item : ${items}">
 											<td th:text="${item.maNhapKho}"></td> 
 											<td th:text="${item.nhaCungCap.maNhaCungCap}"></td>
 											<td th:text="${item.sanPham.maSP}"></td> 
 											<td th:text="${item.soLuongNhap}"></td> 
											<td th:text="${item.giaNhapTrenMoiCai}"></td>
											<td th:text="${item.ngayNhap}"></td>
											<td th:text="${item.ghiChu}"></td>
 											<td><a th:href="@{/admin/NhapKho/edit/__${item.maNhapKho}__}">edit</a>
												<a th:href="@{/admin/NhapKho/delete/__${item.maNhapKho}__}">delete</a></td> 
										</tr>
									</tbody>
								</table>
								<ul class="pagination">
									    <li class="page-item"><a class="page-link"
									        th:href="@{/admin/NhapKho/page(p=${(currIndex != null) ? currIndex - 1 : 0})}"
									        th:onclick="${currIndex==0} ? 'return false;' : null"
									        th:style="${currIndex==0} ? 'background-color: #eee' : ''">Previous</a>
									    </li>
									    <li class="page-item"
									        th:each="pageNumber : ${#numbers.sequence(0, numberOfPages != null ? numberOfPages - 1 : 0)}">
									        <a class="page-link" th:href="@{/admin/NhapKho/page(p=${pageNumber})}"
									        th:style="${pageNumber == (currIndex != null ? currIndex : -1)} ? 'background-color: lightgrey' : 'background-color: white'"
									        th:text="${pageNumber + 1}"></a>
									    </li>
									    <li class="page-item"><a class="page-link"
									        th:href="@{/admin/NhapKho/page(p=${(currIndex != null and numberOfPages != null) ? currIndex + 1 : 0})}"
									        th:onclick="${currIndex == (numberOfPages != null ? numberOfPages - 1 : -1)} ? 'return false;' : null"
									        th:style="${currIndex == (numberOfPages != null ? numberOfPages - 1 : -1)} ? 'background-color: #eee' : ''">Next</a>
									    </li>
									</ul>
								<h4 class="mb-3">Chỉnh sửa thông tin kho hàng</h4>
								<form th:action="@{/NhapKho/create}" th:object="${NhapKhothem}" method="post">
									<div class="form-row">
										<div class="form-group col-md-6">
											<label>mã nhập kho</label> <input
											type="text" readonly="true" class="form-control"
											placeholder="Nhập mã kho" th:field="*{maNhapKho}">
											<label>mã nhà cung cấp</label>
											<select class="form-control" th:field="*{nhaCungCap.maNhaCungCap}">
											    <option th:each="nccoption : ${NCCoptions}" 
											            th:value="${nccoption.key}"
											            th:text="${nccoption.value}">
											    </option>
											</select>
										</div>
									</div>
									<div class="form-group">
										<label>mã sản phẩm</label>
											 <select class="form-control" th:field="*{sanPham.maSP}">
											    <option th:each="spoption : ${SPoptions}" 
											            th:value="${spoption.key}"
											            th:text="${spoption.value}">
											    </option>
											</select>
									</div>
									<div class="form-row">
										<div class="form-group col-md-6">
											<label>Số lượng nhập</label> <input type="number"
												class="form-control" placeholder="Nhập số lượng nhập" th:field="*{soLuongNhap}">
												<div class="alert alert-warning" th:if="${#fields.hasErrors('soLuongNhap')}" th:errors="*{soLuongNhap}"></div>
										</div>
										<div class="form-group col-md-6">
											<label>giá nhập trên mỗi cái</label> <input type="number"
												placeholder="Nhập giá nhập trên mỗi cái" class="form-control" th:field="*{giaNhapTrenMoiCai}">
												<div class="alert alert-warning" th:if="${#fields.hasErrors('giaNhapTrenMoiCai')}" th:errors="*{giaNhapTrenMoiCai}"></div>
										</div>
									</div>
  									<div class="form-group">
										<label>Ngày nhập</label> 
										<input class="form-control" type="date" name="dob" th:field="*{ngayNhap}"/>
										<div class="alert alert-warning" th:if="${#fields.hasErrors('ngayNhap')}" th:errors="*{ngayNhap}"></div>
									</div>  
									<div class="form-group">
										<label>ghi chú</label> <input type="text"
											class="form-control" placeholder="Nhập ghi chú" th:field="*{ghiChu}">
											<div class="alert alert-warning" th:if="${#fields.hasErrors('ghiChu')}" th:errors="*{ghiChu}"></div>
									</div>
									<div style="float: right;">
										<button th:formaction="@{/admin/NhapKho/create}" class="btn btn-primary">Thêm
											mới</button>
										<button th:formaction="@{/admin/NhapKho/create}" class="btn btn-primary">Cập
											nhật</button>
										<button th:formaction="@{/admin/NhapKho}" class="btn btn-primary">Làm Mới</button>	
									</div>
								</form>
							</div>
						</div>
					</div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
</body>

</html>