<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layouts/main-layout}">

<head>
<meta charset="utf-8">
<title>Love shop</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="Free HTML Templates" name="keywords">
<meta content="Free HTML Templates" name="description">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link
	href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
	rel="stylesheet">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
	rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
</head>

<body>
			<div class="col py-3">
				<!-- Aside End -->
				<!-- Content here -->
				<div class="row px-xl-5" layout:fragment ="content">
					<div class="col">
						<div
							class="nav nav-tabs justify-content-center border-secondary mb-4">
							<a class="nav-item nav-link " data-toggle="tab"
								href="#tab-pane-1">Danh sách voucher</a> <a
								class="nav-item nav-link active" data-toggle="tab"
								href="#tab-pane-2">Thông tin voucher</a>
						</div>
						<div class="tab-content">
								<h4 class="mb-3">Danh sách voucher</h4>
								<table id="example" class="display" style="width: 100%">
									<thead>
										<tr>
											<td colspan="7">
												<div class="input-group">
													<form action="/admin/Voucher/search" method="post" class="input-group">
														<input class="form-control" th:name="tenvoucher" >
														<button class="btn btn-primary">Search</button>
													</form>
												</div>
											</td>

											<td></td>
										</tr>
										<tr style="background-color: #D19C97; color: white;">
											<th scope="col">Mã voucher</th>
											<th scope="col">Tên voucher</th>
											<th scope="col">Tiền giảm</th>
											<th scope="col">Mô tả</th>
											<th scope="col">Giảm tối đa</th>
											<th scope="col">Phần trăm giảm</th>
											<th scope="col">Giá trị tối thiểu</th>
											<th scope="col">Loại voucher</th>
											<th scope="col">Hạn sử dụng</th>

										</tr>
									</thead>
									<tbody>
										<tr th:each="item : ${items}">
 											<td th:text="${item.maVoucher}"></td> 
 											<td th:text="${item.tenVoucher}"></td> 
											<td th:text="${item.tienGiam}"></td>
											<td th:text="${item.moTa}"></td>
											<td th:text="${item.giamToiDa}"></td>
											<td th:text="${item.phanTramGiam}"></td>
											<td th:text="${item.giaTriToiThieu}"></td>
											<td th:text="${item.loaiVoucher}"></td>
											<td th:text="${item.hsd}"></td>
 											<td><a th:href="@{/admin/Voucher/edit/__${item.maVoucher}__}">edit</a>
												<a th:href="@{/admin/Voucher/delete/__${item.maVoucher}__}">delete</a></td> 
										</tr>
									</tbody>
								</table>
								<ul class="pagination">
									    <li class="page-item"><a class="page-link"
									        th:href="@{/admin/Voucher/page(p=${(currIndex != null) ? currIndex - 1 : 0})}"
									        th:onclick="${currIndex==0} ? 'return false;' : null"
									        th:style="${currIndex==0} ? 'background-color: #eee' : ''">Previous</a>
									    </li>
									    <li class="page-item"
									        th:each="pageNumber : ${#numbers.sequence(0, numberOfPages != null ? numberOfPages - 1 : 0)}">
									        <a class="page-link" th:href="@{/admin/Voucher/page(p=${pageNumber})}"
									        th:style="${pageNumber == (currIndex != null ? currIndex : -1)} ? 'background-color: lightgrey' : 'background-color: white'"
									        th:text="${pageNumber + 1}"></a>
									    </li>
									    <li class="page-item"><a class="page-link"
									        th:href="@{/admin/Voucher/page(p=${(currIndex != null and numberOfPages != null) ? currIndex + 1 : 0})}"
									        th:onclick="${currIndex == (numberOfPages != null ? numberOfPages - 1 : -1)} ? 'return false;' : null"
									        th:style="${currIndex == (numberOfPages != null ? numberOfPages - 1 : -1)} ? 'background-color: #eee' : ''">Next</a>
									    </li>
									</ul>
							</div>
								<h4 class="mb-3">Chỉnh sửa thông tin voucher</h4>
								<form th:action="@{/admin/Voucher}" th:object="${Voucherthem}" method="post">
									<div class="form-row">
										<div class="form-group col-md-6">
											<label>mã voucher</label> <input
											type="text" readonly="true" class="form-control"
											placeholder="" th:field="*{maVoucher}">
										</div>
									</div>
									<div class="form-group">
										<label>tên voucher</label> <input
											type="text" class="form-control"
											placeholder="Nhập tên voucher" th:field="*{tenVoucher}">
											<div class="alert alert-warning" th:if="${#fields.hasErrors('tenVoucher')}" th:errors="*{tenVoucher}"></div>
									</div>
									<div class="form-row">
										<div class="form-group col-md-6">
											<label>tiền giảm</label> <input type="number"
												class="form-control" placeholder="Nhập tiền giảm" th:field="*{tienGiam}">
													<div class="alert alert-warning" th:if="${#fields.hasErrors('tienGiam')}" th:errors="*{tienGiam}"></div>
										</div>
										<div class="form-group col-md-6">
											<label>mô tả</label> <input type="text"
												placeholder="Nhập mô tả" class="form-control" th:field="*{moTa}">
												<div class="alert alert-warning" th:if="${#fields.hasErrors('moTa')}" th:errors="*{moTa}"></div>
										</div>
									</div>
									<div class="form-group">
										<label>giảm tối đa</label> <input type="number" class="form-control	"
											placeholder="Nhập giá giảm tối đa" th:field="*{giamToiDa}">
											<div class="alert alert-warning" th:if="${#fields.hasErrors('giamToiDa')}" th:errors="*{giamToiDa}"></div>
									</div>
									<div class="form-group">
										<label>phần trăm giảm</label> <input type="number"
											class="form-control" placeholder="Nhập phần trăm giảm" th:field="*{phanTramGiam}">
											<div class="alert alert-warning" th:if="${#fields.hasErrors('phanTramGiam')}" th:errors="*{phanTramGiam}"></div>
									</div>
									<div class="form-group">
										<label>giá trị tối thiểu</label> <input type="number"
											class="form-control" placeholder="Nhập giá trị tối thiểu" th:field="*{giaTriToiThieu}">
											<div class="alert alert-warning" th:if="${#fields.hasErrors('giaTriToiThieu')}" th:errors="*{giaTriToiThieu}"></div>
									</div>
									<div class="form-group">
										<label>loại voucher</label> <input type="text" class="form-control"
											placeholder="Nhập Loại voucher" th:field="*{loaiVoucher}">
											<div class="alert alert-warning" th:if="${#fields.hasErrors('loaiVoucher')}" th:errors="*{loaiVoucher}"></div>
									</div>
 									<div class="form-group">
										<label>Hạn sử dụng</label>
										<input class="form-control" type="date" name="dob" th:field="*{hsd}"/>
									</div> 
									<div style="float: right;">
										<button th:formaction="@{/admin/Voucher/create}" class="btn btn-primary">Thêm
											mới</button>
										<button th:formaction="@{/admin/Voucher/create}" class="btn btn-primary">Cập
											nhật</button>
										<button th:formaction="@{/admin/Voucher}" class="btn btn-primary">Làm mới</button>		
									</div>
								</form>
							</div>
						</div>
					</div>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
</body>

</html>