<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layouts/main-layout}">

<head>
<meta charset="utf-8">
<title>Love shop</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="Free HTML Templates" name="keywords">
<meta content="Free HTML Templates" name="description">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link
	href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
	rel="stylesheet">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
	rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
</head>
<body>
	
			<div class="col py-3">
	<!-- Topbar End

	Navbar Start -->
	
<div class="row px-xl-5" layout:fragment ="content">
					<div class="col">
			<div class="tab-content">
				
					<h4 class="mb-3">Danh sách khách hàng</h4>
					<table id="example" class="display" style="width: 100%">
					<thead>
					<tr>
										<td colspan="7">
											<div class="input-group">
												<form class="input-group" action="/staff/client/search"
													method="post">
													<input th:name="hoTen" class="form-control"
														placeholder="Tìm kiếm">
													<button type="submit" class="btn btn-primary">Tìm
														kiếm</button>
												</form>
											</div>
										</td>
									</tr>
				
						
							<tr style="background-color: #D19C97; color: white;">

								<th scope="col">#</th>
								<th scope="col">Tên</th>
								<th scope="col">Email</th>
								<th scope="col">Số điện thoại</th>
								<th scope="col">Địa chỉ</th>
								<th scope="col">Giới tính</th>
								<th scope="col">Sửa</th>
							</tr>

						</thead>

						<tbody>
							<tr th:each="item: ${items}">
								<td th:text=${item.maND}></td>
								<td th:text=${item.hoTen}></td>
								<td th:text=${item.email}></td>
								<td th:text=${item.sdt}></td>
								<td th:text=${item.diaChi}></td>
								<td th:text=${item.gioiTinh?'Nam':'Nữ'}></td>
								<td><a href="" th:href="@{/staff/edit/__${item.maND}__}"  class="btn btn-warning"><img style="height: 24px;"
										src="/img/pen-solid.svg" alt=""></a></td>
							</tr>
						</tbody>
					</table>
								<nav aria-label="Page navigation example">
									<ul class="pagination">
										<li class="page-item" th:if="${currIndex}>0"><a
											class="page-link"
											th:href="@{/staff/client/page?p=__${currIndex-1}__}" href="#">Previous</a></li>
										<tr th:each="i: ${#numbers.sequence(0, numberOfPages - 1)}">
											<li class="page-item"><a
												th:style="${'background-color:' + (i==currIndex?'lightgrey':'white')}"th:href="@{/staff/client/page?p=__${i}__}" class="page-link"
												href="#" th:text="${i+1}"></a></li>
										</tr>
										<li class="page-item"
											th:if="(${currIndex}>-1 and (${currIndex})<${numberOfPages-1})"><a
											class="page-link"
											th:href="@{/staff/client/page?p=__${currIndex+1}__}" href="#">Next</a></li>
									</ul>
								</nav>
					 
				</div>
					<h4 class="mb-3">Chỉnh sửa thông tin khách hàng</h4>
					<form method="post" th:object="${item}" >
						<div class="form-row">
						<input th:field="*{maND}" type="hidden">
						<input th:field="*{vaiTro}" type="hidden">
							<div class="form-group col-md-6">
								<label for="inputEmail4">Tài khoản</label> <input type="text"
									class="form-control" placeholder="Nhập tài khoản" 
									id="inputEmail4"  th:field="*{taiKhoan}">
							</div>
							<div class="form-group col-md-6">
								<label for="inputPassword4">Mật khẩu</label> <input type="text"
									placeholder="Nhập mật khẩu" class="form-control" 
									id="inputPassword4" th:field="*{matKhau}">
							</div>
						</div>
						<div class="form-group">
							<label for="inputAddress">Họ và tên</label> <input type="text"
								class="form-control" id="inputAddress"
								placeholder="Nhập họ và tên" th:field="*{hoTen}">
							
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="inputEmail4">Số điện thoại</label> <input
									type="number" class="form-control"
									placeholder="Nhập số điện thoại" id="inputEmail4" th:field="*{sdt}" >
							</div>
							<div class="form-group col-md-6">
								<label for="inputPassword4">Email</label> <input type="email"
									placeholder="Nhập mật email" class="form-control"
									id="inputPassword4" th:field="*{email}">
							</div>
						</div>
						<div class="form-group">
							<label for="inputAddress">Địa chỉ</label> <input type="text"
								class="form-control" id="inputAddress" th:field="*{diaChi}"
								placeholder="Nhập địa chỉ">
						</div>
						<div class="form-group"
							style="display: flex; justify-content: space-between; width: 200px;">
							<label class="form-check-label" for="gridCheck2"> Giới
								tính </label>
							<div class="form-group">
			 <br> <input type="radio" th:field="*{gioiTinh}"
				th:each="g : ${genders}" th:value="${g.key}" th:text="${g.value}"> 
			
		</div>
						</div>
						 <div style="float: left;">
							
								<button type="submit" th:formaction="@{/staff/create}" class="btn btn-primary"><i class="bi bi-save2"></i>
                                    Create</button>
                                <button type="submit" th:formaction="@{/staff/update}" class="btn btn-success"><i class="bi bi-card-list"></i>
                                    Update</button>
<button type="submit" th:formaction="@{/staff/delete/__${item.maND}__}" class="btn btn-danger"><i class="bi bi-trash"></i> Delete</button>
                               	 <button type="submit" th:formaction="@{/staff/clear}" class="btn btn-info"><i class="bi bi-arrow-clockwise"></i>
                                    Reset</button>
						</div>
					</form>
				</div>
		

<!-- 	Footer Start -->
	<div class="container-fluid bg-secondary text-dark mt-5 pt-5">
		<div class="row px-xl-5 pt-5">
			<div class="col-lg-4 col-md-12 mb-5 pr-3  pr-xl-5">
				<a href="" class="text-decoration-none">
					<h1 class="mb-4 display-5 font-weight-semi-bold">
						<span
							class="text-primary font-weight-bold border border-white px-3 mr-1">Love</span>CAKE
					</h1>
				</a>
				<p>Cửa hàng của chúng tôi rất hân hạnh được phục vụ quý khách
					hàng. Mọi thắc mắc xin liên hệ:</p>
				<p class="mb-2">
					<i class="fa fa-map-marker-alt text-primary mr-3"></i>333 Đ. Nguyễn
					Văn Linh, Phường An Khánh, Ninh Kiều, Cần Thơ, Việt Nam
				</p>
				<p class="mb-2">
					<i class="fa fa-envelope text-primary mr-3"></i>loveCake@gmail.com
				</p>
				<p class="mb-0">
					<i class="fa fa-phone-alt text-primary mr-3"></i>+012 345 6789
				</p>
			</div>
			<div class="col-lg-8 col-md-12">
				<div class="row">
					<div class="col-md-4 mb-5">
						<h5 class="font-weight-bold text-dark mb-4">Truy cập nhanh</h5>
						<div class="d-flex flex-column justify-content-start">
							<a class="text-dark mb-2" href="index.html"><i
								class="fa fa-angle-right mr-2"></i>Trang chủ</a> <a
								class="text-dark mb-2" href="shop.html"><i
								class="fa fa-angle-right mr-2"></i>Tất cả sản phẩm</a> <a
								class="text-dark mb-2" href="detail.html"><i
								class="fa fa-angle-right mr-2"></i>Trang chi tiết</a>
						</div>
					</div>
					<div class="col-md-4 mb-5">
						<h5 class="font-weight-bold text-dark mb-4">Truy cập nhanh</h5>
						<div class="d-flex flex-column justify-content-start">
							<a class="text-dark mb-2" href="index.html"><i
								class="fa fa-angle-right mr-2"></i>Trang chủ</a> <a
								class="text-dark mb-2" href="shop.html"><i
								class="fa fa-angle-right mr-2"></i>Tất cả sản phẩm</a> <a
								class="text-dark mb-2" href="detail.html"><i
								class="fa fa-angle-right mr-2"></i>Trang chi tiết</a>
						</div>
					</div>
					<div class="col-md-4 mb-5">
						<h5 class="font-weight-bold text-dark mb-4">Đăng ký nhận
							thông báo</h5>
						<form action="">
							<div class="form-group">
								<input type="text" class="form-control border-0 py-4"
									placeholder="Nhập tên của bạn" required="required" />
							</div>
							<div class="form-group">
								<input type="email" class="form-control border-0 py-4"
									placeholder="Nhập email của bạn" required="required" />
							</div>
							<div>
<button class="btn btn-primary btn-block border-0 py-3"
									type="submit">Đăng ký ngay</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			</div>
			</div>
			</div>
<!-- 	Footer End -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
</body>

</html>
												