USE [master]
GO
/****** Object:  Database [BanhCam]    Script Date: 8/7/2023 9:38:36 PM ******/
CREATE DATABASE [BanhCam]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BanhCam', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BanhCam.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BanhCam_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BanhCam_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BanhCam].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BanhCam]
GO
/****** Object:  Table [dbo].[Chi_Tiet_Hoa_Don]    Script Date: 8/7/2023 9:38:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chi_Tiet_Hoa_Don](
	[ma_chi_tiet_hoa_don] [int] IDENTITY(1,1) NOT NULL,
	[ma_hoa_don] [int] NULL,
	[ma_sp] [int] NULL,
	[so_luong] [int] NULL,
	[gia_ban] [int] NULL,
	[gia_nhap] [int] NULL,
 CONSTRAINT [PK_ChiTietDonHang] PRIMARY KEY CLUSTERED 
(
	[ma_chi_tiet_hoa_don] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Danh_Gia]    Script Date: 8/7/2023 9:38:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Danh_Gia](
	[ma_danh_gia] [int] IDENTITY(1,1) NOT NULL,
	[ma_nd] [int] NULL,
	[ma_sp] [int] NULL,
	[sao_danh_gia] [int] NULL,
	[mo_ta] [nvarchar](max) NULL,
	[ngay_danh_gia] [date] NULL,
 CONSTRAINT [PK_DanhGia] PRIMARY KEY CLUSTERED 
(
	[ma_danh_gia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gio_Hang_Chi_Tiet]    Script Date: 8/7/2023 9:38:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gio_Hang_Chi_Tiet](
	[ma_gio_hang] [int] IDENTITY(1,1) NOT NULL,
	[ma_sp] [int] NULL,
	[ma_nd] [int] NULL,
	[so_luong] [int] NULL,
	[ngay_them] [date] NULL,
 CONSTRAINT [PK_GioHangChiTiet] PRIMARY KEY CLUSTERED 
(
	[ma_gio_hang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hoa_Don]    Script Date: 8/7/2023 9:38:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hoa_Don](
	[ma_hoa_don] [int] IDENTITY(1,1) NOT NULL,
	[ma_nd] [int] NULL,
	[ngay_tao] [datetime] NULL,
	[ma_voucher] [int] NULL,
	[tien_giam] [int] NULL,
 CONSTRAINT [PK_DonHang] PRIMARY KEY CLUSTERED 
(
	[ma_hoa_don] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loai_Banh]    Script Date: 8/7/2023 9:38:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loai_Banh](
	[ma_loai_banh] [int] IDENTITY(1,1) NOT NULL,
	[ten_loai_banh] [nvarchar](max) NULL,
	[ghi_chu] [nvarchar](max) NULL,
 CONSTRAINT [PK_LoaiBanh] PRIMARY KEY CLUSTERED 
(
	[ma_loai_banh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nguoi_Dung]    Script Date: 8/7/2023 9:38:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nguoi_Dung](
	[ma_nd] [int] IDENTITY(1,1) NOT NULL,
	[tai_khoan] [nvarchar](50) NOT NULL,
	[mat_khau] [nvarchar](max) NULL,
	[ho_ten] [nvarchar](max) NULL,
	[dia_chi] [nvarchar](max) NULL,
	[sdt] [nvarchar](max) NULL,
	[email] [varchar](50) NOT NULL,
	[gioi_tinh] [bit] NULL,
	[vai_tro] [int] NULL,
 CONSTRAINT [PK_NguoiDung] PRIMARY KEY CLUSTERED 
(
	[ma_nd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nha_Cung_Cap]    Script Date: 8/7/2023 9:38:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nha_Cung_Cap](
	[ma_nha_cung_cap] [int] IDENTITY(1,1) NOT NULL,
	[ten_nha_cung_cap] [nvarchar](max) NULL,
	[ghi_chu] [nvarchar](max) NULL,
 CONSTRAINT [PK_NhaCungCap] PRIMARY KEY CLUSTERED 
(
	[ma_nha_cung_cap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nhap_Kho]    Script Date: 8/7/2023 9:38:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nhap_Kho](
	[ma_nhap_kho] [int] IDENTITY(1,1) NOT NULL,
	[ma_nha_cung_cap] [int] NULL,
	[ma_sp] [int] NULL,
	[so_luong_nhap] [int] NULL,
	[gia_nhap_tren_moi_cai] [int] NULL,
	[ngay_nhap] [date] NULL,
	[ghi_chu] [nvarchar](max) NULL,
 CONSTRAINT [PK_NhapKho] PRIMARY KEY CLUSTERED 
(
	[ma_nhap_kho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[San_Pham]    Script Date: 8/7/2023 9:38:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[San_Pham](
	[ma_sp] [int] IDENTITY(1,1) NOT NULL,
	[ma_loai_banh] [int] NULL,
	[ten_sp] [nvarchar](50) NULL,
	[so_luong] [int] NULL,
	[anh] [nvarchar](50) NULL,
	[ghi_chu] [nvarchar](max) NULL,
	[gia_ban] [int] NULL,
	[gia_nhap] [int] NULL,
	[availability] [bit] NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[ma_sp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Thich_San_Pham]    Script Date: 8/7/2023 9:38:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thich_San_Pham](
	[ma_thich_san_pham] [int] IDENTITY(1,1) NOT NULL,
	[ma_sp] [int] NULL,
	[ma_nd] [int] NULL,
	[ngay_thich] [date] NULL,
 CONSTRAINT [PK_ThichSanPham] PRIMARY KEY CLUSTERED 
(
	[ma_thich_san_pham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voucher]    Script Date: 8/7/2023 9:38:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voucher](
	[ma_voucher] [int] IDENTITY(1,1) NOT NULL,
	[ten_voucher] [nvarchar](max) NULL,
	[tien_giam] [int] NULL,
	[mo_ta] [nvarchar](max) NULL,
	[giam_toi_da] [int] NULL,
	[phan_tram_giam] [int] NULL,
	[gia_tri_toi_thieu] [int] NULL,
	[loai_voucher] [bit] NULL,
	[hsd] [date] NULL,
 CONSTRAINT [PK_Voucher] PRIMARY KEY CLUSTERED 
(
	[ma_voucher] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Your_Vouchers]    Script Date: 8/7/2023 9:38:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Your_Vouchers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ma_nd] [int] NULL,
	[ma_voucher] [int] NULL,
 CONSTRAINT [PK_YourVouchers] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Chi_Tiet_Hoa_Don] ON 

INSERT [dbo].[Chi_Tiet_Hoa_Don] ([ma_chi_tiet_hoa_don], [ma_hoa_don], [ma_sp], [so_luong], [gia_ban], [gia_nhap]) VALUES (4, 2, 15, 2, 10000, 8000)
INSERT [dbo].[Chi_Tiet_Hoa_Don] ([ma_chi_tiet_hoa_don], [ma_hoa_don], [ma_sp], [so_luong], [gia_ban], [gia_nhap]) VALUES (15, 16, 15, 15, 25000, 18000)
INSERT [dbo].[Chi_Tiet_Hoa_Don] ([ma_chi_tiet_hoa_don], [ma_hoa_don], [ma_sp], [so_luong], [gia_ban], [gia_nhap]) VALUES (16, 16, 13, 15, 10000, 8000)
SET IDENTITY_INSERT [dbo].[Chi_Tiet_Hoa_Don] OFF
GO
SET IDENTITY_INSERT [dbo].[Danh_Gia] ON 

INSERT [dbo].[Danh_Gia] ([ma_danh_gia], [ma_nd], [ma_sp], [sao_danh_gia], [mo_ta], [ngay_danh_gia]) VALUES (164, 342, 13, 3, N'Ngon lắm', CAST(N'2023-06-12' AS Date))
INSERT [dbo].[Danh_Gia] ([ma_danh_gia], [ma_nd], [ma_sp], [sao_danh_gia], [mo_ta], [ngay_danh_gia]) VALUES (165, 343, 15, 5, N'Rất ngon', CAST(N'2023-03-21' AS Date))
INSERT [dbo].[Danh_Gia] ([ma_danh_gia], [ma_nd], [ma_sp], [sao_danh_gia], [mo_ta], [ngay_danh_gia]) VALUES (166, 344, 17, 2, N'Bình thường', CAST(N'2023-04-15' AS Date))
GO
SET IDENTITY_INSERT [dbo].[Danh_Gia] OFF
GO
SET IDENTITY_INSERT [dbo].[Gio_Hang_Chi_Tiet] ON 

INSERT [dbo].[Gio_Hang_Chi_Tiet] ([ma_gio_hang], [ma_sp], [ma_nd], [so_luong], [ngay_them]) VALUES (12, NULL, NULL, 22, CAST(N'2023-06-15' AS Date))
INSERT [dbo].[Gio_Hang_Chi_Tiet] ([ma_gio_hang], [ma_sp], [ma_nd], [so_luong], [ngay_them]) VALUES (2026, 23, 344, 1, CAST(N'2023-07-26' AS Date))
INSERT [dbo].[Gio_Hang_Chi_Tiet] ([ma_gio_hang], [ma_sp], [ma_nd], [so_luong], [ngay_them]) VALUES (2028, 18, 344, 1, CAST(N'2023-08-03' AS Date))
SET IDENTITY_INSERT [dbo].[Gio_Hang_Chi_Tiet] OFF
GO
SET IDENTITY_INSERT [dbo].[Hoa_Don] ON 

INSERT [dbo].[Hoa_Don] ([ma_hoa_don], [ma_nd], [ngay_tao], [ma_voucher], [tien_giam]) VALUES (2, 342, CAST(N'2023-12-06T00:00:00.000' AS DateTime), 1, 50000)
INSERT [dbo].[Hoa_Don] ([ma_hoa_don], [ma_nd], [ngay_tao], [ma_voucher], [tien_giam]) VALUES (16, 342, CAST(N'2023-07-30T00:00:00.000' AS DateTime), NULL, NULL)
INSERT [dbo].[Hoa_Don] ([ma_hoa_don], [ma_nd], [ngay_tao], [ma_voucher], [tien_giam]) VALUES (17, 342, CAST(N'2023-08-04T00:00:00.000' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Hoa_Don] OFF
GO
SET IDENTITY_INSERT [dbo].[Loai_Banh] ON 

INSERT [dbo].[Loai_Banh] ([ma_loai_banh], [ten_loai_banh], [ghi_chu]) VALUES (4, N'Bánh kem', N'Các loại bánh kem ngọt ngào')
INSERT [dbo].[Loai_Banh] ([ma_loai_banh], [ten_loai_banh], [ghi_chu]) VALUES (5, N'Bánh mỳ', N'Các loại bánh mỳ giòn tan')
INSERT [dbo].[Loai_Banh] ([ma_loai_banh], [ten_loai_banh], [ghi_chu]) VALUES (6, N'Bánh quy', N'Các loại bánh quy thơm ngon')
SET IDENTITY_INSERT [dbo].[Loai_Banh] OFF
GO
SET IDENTITY_INSERT [dbo].[Nguoi_Dung] ON 

INSERT [dbo].[Nguoi_Dung] ([ma_nd], [tai_khoan], [mat_khau], [ho_ten], [dia_chi], [sdt], [email], [gioi_tinh], [vai_tro]) VALUES (342, N'user1', N'1', N'John Doe 123456789123456789123456789', N'123 Main St', N'1234567890', N'john.doe@example.com', 1, 0)
INSERT [dbo].[Nguoi_Dung] ([ma_nd], [tai_khoan], [mat_khau], [ho_ten], [dia_chi], [sdt], [email], [gioi_tinh], [vai_tro]) VALUES (343, N'user2', N'pass2', N'Jane Smith', N'456 Elm St', N'1234567891', N'jane.smith@example.com', 0, 0)
INSERT [dbo].[Nguoi_Dung] ([ma_nd], [tai_khoan], [mat_khau], [ho_ten], [dia_chi], [sdt], [email], [gioi_tinh], [vai_tro]) VALUES (344, N'user3', N'pass3', N'Mike Johnson', N'789 Oak St', N'1234567892', N'mike.johnson@example.com', 1, 0)
SET IDENTITY_INSERT [dbo].[Nguoi_Dung] OFF
GO
SET IDENTITY_INSERT [dbo].[Nha_Cung_Cap] ON 

INSERT [dbo].[Nha_Cung_Cap] ([ma_nha_cung_cap], [ten_nha_cung_cap], [ghi_chu]) VALUES (1, N'Cơ sở sản xuất Bánh Ngọt Trường Phát', NULL)
INSERT [dbo].[Nha_Cung_Cap] ([ma_nha_cung_cap], [ten_nha_cung_cap], [ghi_chu]) VALUES (2, N'Tiệm bánh ngọt An Khang', NULL)
INSERT [dbo].[Nha_Cung_Cap] ([ma_nha_cung_cap], [ten_nha_cung_cap], [ghi_chu]) VALUES (3, N'ITALIO - Đơn vị sản xuất bánh ngọt hàng đầu Cần Thơ', NULL)
SET IDENTITY_INSERT [dbo].[Nha_Cung_Cap] OFF
GO
SET IDENTITY_INSERT [dbo].[Nhap_Kho] ON 

INSERT [dbo].[Nhap_Kho] ([ma_nhap_kho], [ma_nha_cung_cap], [ma_sp], [so_luong_nhap], [gia_nhap_tren_moi_cai], [ngay_nhap], [ghi_chu]) VALUES (1, 1, 33, 100, 25000, CAST(N'2023-06-07' AS Date), NULL)
INSERT [dbo].[Nhap_Kho] ([ma_nhap_kho], [ma_nha_cung_cap], [ma_sp], [so_luong_nhap], [gia_nhap_tren_moi_cai], [ngay_nhap], [ghi_chu]) VALUES (2, 2, 34, 150, 22000, CAST(N'2023-06-07' AS Date), NULL)
INSERT [dbo].[Nhap_Kho] ([ma_nhap_kho], [ma_nha_cung_cap], [ma_sp], [so_luong_nhap], [gia_nhap_tren_moi_cai], [ngay_nhap], [ghi_chu]) VALUES (4, 2, 45, 80, 36000, CAST(N'2023-06-07' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[Nhap_Kho] OFF
GO
SET IDENTITY_INSERT [dbo].[San_Pham] ON 

INSERT [dbo].[San_Pham] ([ma_sp], [ma_loai_banh], [ten_sp], [so_luong], [anh], [ghi_chu], [gia_ban], [gia_nhap], [availability]) VALUES (13, 5, N'Bánh mỳ bơ tỏi', 28, N'cupcake_1.jpg', N'Bánh mỳ xốp, giòn, thơm ngon', 10000, 8000, 0)
INSERT [dbo].[San_Pham] ([ma_sp], [ma_loai_banh], [ten_sp], [so_luong], [anh], [ghi_chu], [gia_ban], [gia_nhap], [availability]) VALUES (14, 6, N'Bánh quy bơ', 199, N'Elegant-drip-cake-11feb.png', N'Bánh quy giòn tan, thơm ngon', 5000, 4000, 0)
INSERT [dbo].[San_Pham] ([ma_sp], [ma_loai_banh], [ten_sp], [so_luong], [anh], [ghi_chu], [gia_ban], [gia_nhap], [availability]) VALUES (15, 4, N'Bánh kem socola', 30, N'Elegant-drip-cake-11feb.png', N'Bánh kem ngọt ngào vị socola', 25000, 18000, 1)
SET IDENTITY_INSERT [dbo].[San_Pham] OFF
GO
SET IDENTITY_INSERT [dbo].[Thich_San_Pham] ON 

INSERT [dbo].[Thich_San_Pham] ([ma_thich_san_pham], [ma_sp], [ma_nd], [ngay_thich]) VALUES (11046, 13, 343, CAST(N'2023-06-20' AS Date))
INSERT [dbo].[Thich_San_Pham] ([ma_thich_san_pham], [ma_sp], [ma_nd], [ngay_thich]) VALUES (11047, 13, 344, CAST(N'2023-06-21' AS Date))
INSERT [dbo].[Thich_San_Pham] ([ma_thich_san_pham], [ma_sp], [ma_nd], [ngay_thich]) VALUES (11048, 13, 345, CAST(N'2023-06-22' AS Date))
SET IDENTITY_INSERT [dbo].[Thich_San_Pham] OFF
GO
SET IDENTITY_INSERT [dbo].[Voucher] ON 

INSERT [dbo].[Voucher] ([ma_voucher], [ten_voucher], [tien_giam], [mo_ta], [giam_toi_da], [phan_tram_giam], [gia_tri_toi_thieu], [loai_voucher], [hsd]) VALUES (1, N'GIAM50K', 50000, N'Giảm 50k dành cho đơn hàng của bạn', 50000, NULL, 50000, 1, CAST(N'2023-07-01' AS Date))
INSERT [dbo].[Voucher] ([ma_voucher], [ten_voucher], [tien_giam], [mo_ta], [giam_toi_da], [phan_tram_giam], [gia_tri_toi_thieu], [loai_voucher], [hsd]) VALUES (2, N'GIAM20K', 20000, N'Giảm 20K dành cho đơn hàng của bạn', 20000, NULL, 20000, 1, CAST(N'2023-08-01' AS Date))
SET IDENTITY_INSERT [dbo].[Voucher] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uc_email]    Script Date: 8/7/2023 9:38:37 PM ******/
ALTER TABLE [dbo].[Nguoi_Dung] ADD  CONSTRAINT [uc_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uc_tai_khoan]    Script Date: 8/7/2023 9:38:37 PM ******/
ALTER TABLE [dbo].[Nguoi_Dung] ADD  CONSTRAINT [uc_tai_khoan] UNIQUE NONCLUSTERED 
(
	[tai_khoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [AK_TransactionID]    Script Date: 8/7/2023 9:38:37 PM ******/
ALTER TABLE [dbo].[Thich_San_Pham] ADD  CONSTRAINT [AK_TransactionID] UNIQUE NONCLUSTERED 
(
	[ma_nd] ASC,
	[ma_sp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Nguoi_Dung] ADD  CONSTRAINT [DF_NguoiDung_gioiTinh]  DEFAULT ((1)) FOR [gioi_tinh]
GO
ALTER TABLE [dbo].[Nguoi_Dung] ADD  CONSTRAINT [DF_NguoiDung_vaiTro]  DEFAULT ((0)) FOR [vai_tro]
GO
ALTER TABLE [dbo].[Chi_Tiet_Hoa_Don]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_HoaDon] FOREIGN KEY([ma_hoa_don])
REFERENCES [dbo].[Hoa_Don] ([ma_hoa_don])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Chi_Tiet_Hoa_Don] CHECK CONSTRAINT [FK_ChiTietHoaDon_HoaDon]
GO
ALTER TABLE [dbo].[Chi_Tiet_Hoa_Don]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_SanPham] FOREIGN KEY([ma_sp])
REFERENCES [dbo].[San_Pham] ([ma_sp])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Chi_Tiet_Hoa_Don] CHECK CONSTRAINT [FK_ChiTietHoaDon_SanPham]
GO
ALTER TABLE [dbo].[Danh_Gia]  WITH CHECK ADD  CONSTRAINT [FK_DanhGia_SanPham] FOREIGN KEY([ma_sp])
REFERENCES [dbo].[San_Pham] ([ma_sp])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Danh_Gia] CHECK CONSTRAINT [FK_DanhGia_SanPham]
GO
ALTER TABLE [dbo].[Gio_Hang_Chi_Tiet]  WITH CHECK ADD  CONSTRAINT [FK_GioHangChiTiet_NguoiDung] FOREIGN KEY([ma_nd])
REFERENCES [dbo].[Nguoi_Dung] ([ma_nd])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Gio_Hang_Chi_Tiet] CHECK CONSTRAINT [FK_GioHangChiTiet_NguoiDung]
GO
ALTER TABLE [dbo].[Gio_Hang_Chi_Tiet]  WITH CHECK ADD  CONSTRAINT [FK_GioHangChiTiet_SanPham] FOREIGN KEY([ma_sp])
REFERENCES [dbo].[San_Pham] ([ma_sp])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Gio_Hang_Chi_Tiet] CHECK CONSTRAINT [FK_GioHangChiTiet_SanPham]
GO
ALTER TABLE [dbo].[Hoa_Don]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_NguoiDung] FOREIGN KEY([ma_nd])
REFERENCES [dbo].[Nguoi_Dung] ([ma_nd])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Hoa_Don] CHECK CONSTRAINT [FK_DonHang_NguoiDung]
GO
ALTER TABLE [dbo].[Hoa_Don]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_Voucher] FOREIGN KEY([ma_voucher])
REFERENCES [dbo].[Voucher] ([ma_voucher])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Hoa_Don] CHECK CONSTRAINT [FK_DonHang_Voucher]
GO
ALTER TABLE [dbo].[Nhap_Kho]  WITH CHECK ADD  CONSTRAINT [FK_NhapKho_NhaCungCap] FOREIGN KEY([ma_nha_cung_cap])
REFERENCES [dbo].[Nha_Cung_Cap] ([ma_nha_cung_cap])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Nhap_Kho] CHECK CONSTRAINT [FK_NhapKho_NhaCungCap]
GO
ALTER TABLE [dbo].[Nhap_Kho]  WITH CHECK ADD  CONSTRAINT [FK_NhapKho_SanPham1] FOREIGN KEY([ma_sp])
REFERENCES [dbo].[San_Pham] ([ma_sp])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Nhap_Kho] CHECK CONSTRAINT [FK_NhapKho_SanPham1]
GO
ALTER TABLE [dbo].[San_Pham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_LoaiBanh] FOREIGN KEY([ma_loai_banh])
REFERENCES [dbo].[Loai_Banh] ([ma_loai_banh])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[San_Pham] CHECK CONSTRAINT [FK_SanPham_LoaiBanh]
GO
ALTER TABLE [dbo].[Thich_San_Pham]  WITH CHECK ADD  CONSTRAINT [FK_Thich_San_Pham_Nguoi_Dung] FOREIGN KEY([ma_nd])
REFERENCES [dbo].[Nguoi_Dung] ([ma_nd])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Thich_San_Pham] CHECK CONSTRAINT [FK_Thich_San_Pham_Nguoi_Dung]
GO
ALTER TABLE [dbo].[Thich_San_Pham]  WITH CHECK ADD  CONSTRAINT [FK_ThichSanPham_SanPham1] FOREIGN KEY([ma_sp])
REFERENCES [dbo].[San_Pham] ([ma_sp])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Thich_San_Pham] CHECK CONSTRAINT [FK_ThichSanPham_SanPham1]
GO
ALTER TABLE [dbo].[Your_Vouchers]  WITH CHECK ADD  CONSTRAINT [FK_YourVouchers_NguoiDung] FOREIGN KEY([ma_nd])
REFERENCES [dbo].[Nguoi_Dung] ([ma_nd])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Your_Vouchers] CHECK CONSTRAINT [FK_YourVouchers_NguoiDung]
GO
ALTER TABLE [dbo].[Your_Vouchers]  WITH CHECK ADD  CONSTRAINT [FK_YourVouchers_Voucher] FOREIGN KEY([ma_voucher])
REFERENCES [dbo].[Voucher] ([ma_voucher])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Your_Vouchers] CHECK CONSTRAINT [FK_YourVouchers_Voucher]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Giá nhập trên mỗi cái' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Nhap_Kho', @level2type=N'COLUMN',@level2name=N'gia_nhap_tren_moi_cai'
GO
USE [master]
GO
